<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="nc7/mapp/config/jdbc.properties"></properties>

  <typeAliases>
    <package name="nc7.mapp.vo"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="nc7/mapp/dao/ActorDao.xml"/>
    <mapper resource="nc7/mapp/dao/CommentDao.xml"/>
    <mapper resource="nc7/mapp/dao/CommentLikeDao.xml"/>
    <mapper resource="nc7/mapp/dao/CountryDao.xml"/>
    <mapper resource="nc7/mapp/dao/EventApplicationDao.xml"/>
    <mapper resource="nc7/mapp/dao/EventDao.xml"/>
    <mapper resource="nc7/mapp/dao/FilmActorDao.xml"/>
    <mapper resource="nc7/mapp/dao/FilmCountryDao.xml"/>
    <mapper resource="nc7/mapp/dao/FilmDao.xml"/>
    <mapper resource="nc7/mapp/dao/FilmGenreDao.xml"/>
    <mapper resource="nc7/mapp/dao/FilmSrcDao.xml"/>
    <mapper resource="nc7/mapp/dao/FilmStaffDao.xml"/>
    <mapper resource="nc7/mapp/dao/GenreDao.xml"/>
    <mapper resource="nc7/mapp/dao/GradeDao.xml"/>
    <mapper resource="nc7/mapp/dao/ManagerDao.xml"/>
    <mapper resource="nc7/mapp/dao/ParticipantDao.xml"/>
    <mapper resource="nc7/mapp/dao/RatingDao.xml"/>
    <mapper resource="nc7/mapp/dao/RoleDao.xml"/>
    <mapper resource="nc7/mapp/dao/SrcDao.xml"/>
    <mapper resource="nc7/mapp/dao/StaffDao.xml"/>
    <mapper resource="nc7/mapp/dao/UserDao.xml"/>
    <mapper resource="nc7/mapp/dao/WatchListDao.xml"/>
    <!-- Add other mapper resources here -->
  </mappers>
</configuration>
