<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="nc7/mapp/config/jdbc.properties"></properties>

  <typeAliases>
    <package name="nc7.mapp.vo"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="nc7/mapp/dao/mysql/ActorDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/CommentDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/CommentLikeDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/CountryDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/EventApplicationDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/EventDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/FilmActorDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/FilmCountryDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/FilmDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/FilmGenreDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/FilmSrcDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/FilmStaffDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/GenreDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/GradeDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/ManagerDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/RatingDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/RoleDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/SrcDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/StaffDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/UserDao.xml"/>
    <mapper resource="nc7/mapp/dao/mysql/WatchListDao.xml"/>
    <!-- Add other mapper resources here -->
  </mappers>
</configuration>
